[submodule "vendor/opentide"]
	path = vendor/opentide
	url = https://github.com/OpenTideHQ/opentide.git
	branch = development
[submodule "vendor/specifications"]
	path = vendor/specifications
	url = https://github.com/OpenTideHQ/specifications.git
	branch = main
